{{#unless reading}}
  {{#each readings as |reading|}}
    <section data-id="{{reading.id}}" class="col-md-5 shadow p-4 mb-4 bg-dark rounded mx-1 text-light">
      <img src="https://image.freepik.com/free-vector/vintage-old-open-book-spread-mockup-with-blank-pages_135176-557.jpg" height="90" width="90">
          <h3>
            Title: {{reading.material.name}}
          </h3>
          <h5>
            Author: {{reading.material.author}}
          </h5>
          <h5>
            Genre: {{reading.material.genre}}
          </h5>
          <p>
            Status: {{reading.status}}
          </p>
          <p>
            {{#ifeq reading.id 0}}
              {{please}}
            {{else}}
              {{#ifeq reading.status "dropped"}}
                Time to pick this book up again
              {{else}}
                {{> update-reading-dropped id=reading.id}}
              {{/ifeq}}
            {{/ifeq}}
          </p>
          <p>
            {{#ifeq reading.id 0}}
              {{please}}
            {{else}}
              {{#ifeq reading.status "finished"}}
                Time to find a new book
              {{else}}
                {{> update-reading-finished id=reading.id}}
              {{/ifeq}}
            {{/ifeq}}
          </p>
          <p>
            {{#ifeq reading.id 0}}
              {{please}}
            {{else}}
              {{#ifeq reading.status "reading"}}
                You're already reading this
              {{else}}
                {{> update-reading-reading id=reading.id}}
              {{/ifeq}}
            {{/ifeq}}
          </p>
          <p>
            {{#ifeq reading.id 0}}
              {{please}}
            {{else}}
              {{> delete-reading id=reading.id}}
            {{/ifeq}}
          </p>
          </p>

  </section>

  {{/each}}

{{else}}
    <h3>Nothing to see here</h3>
{{/unless}}
