{{#unless reading}}
  {{#each readings as |reading|}}
    <section data-id="{{reading.id}}" class="col-md-5 shadow p-4 mb-4 bg-white rounded mx-1">
        {{#if reading.editable}}
          <h3>
            Title: {{limit reading.material.name 20}}
          </h3>
          <h5>
            Author: {{reading.material.author}}
          </h5>
          <p>
            Status: {{reading.status}}
          </p>
          <p>
            {{#ifeq reading.status "dropped"}}
              Time to pick this book up again
            {{else}}
              {{> update-reading-dropped id=reading.id}}
            {{/ifeq}}
          </p>
          <p>
            {{#ifeq reading.status "finished"}}
              Time to find a new book
            {{else}}
              {{> update-reading-finished id=reading.id}}
            {{/ifeq}}
          </p>
          <p>
            {{#ifeq reading.status "reading"}}
              You're already reading this
            {{else}}
              {{> update-reading-reading id=reading.id}}
            {{/ifeq}}
          </p>
          <p>
            {{> delete-reading id=reading.id}}
          </p>
          </p>
        {{/if}}

  </section>

  {{/each}}

{{else}}
    <h3>Nothing to see here</h3>
{{/unless}}
