{{#unless reading}}
  {{#each writings as |writing|}}
    {{log Writing}}
    <section data-id="{{writing.id}}" class="col-md-5 shadow p-4 mb-4 bg-white rounded mx-2">
      <h3>
        Title: {{limit writing.name 20}}
      </h3>
        <p>
          Genre: {{#if writing.genre}}
            {{writing.genre}}
          {{else}}
            No genre provided
          {{/if}}
        </p>
        <p>
          Author:
          {{#if writing.author}}
            {{writing.author}}
          {{else}}
            No author provided
          {{/if}}
        </p>
        <p>
          {{#each readings as |reading|}}
            {{#if reading.editable}}
              {{#ifeq reading.material.id writing.id}}
                {{> create-reading id=writing.id}}
              {{else}}
                Read another book
              {{/ifeq}}
            {{/if}}
          {{/each}}
        </p>
        <p>
        {{#if writing.editable}}
          {{> remove-writing id=writing.id}}
        {{else}}

        {{/if}}
      </p>
        <p>
        {{#if writing.editable}}
          {{> update-writing id=writing.id}}
        {{else}}

        {{/if}}
      </p>

    </section>

    {{/each}}
{{else}}
  <h3>Nothing to see here</h3>
  {{/unless}}
