{{#each writings as |writing|}}
  {{log Writing}}
  <section data-id="{{writing.id}}">
    <h3>Title:</h3>
    <h3>
      {{limit writing.name 20}}
    </h3>
    <p>
      {{#if writing.genre}}
        {{writing.genre}}
      {{else}}
        No genre provided
      {{/if}}
    </p>
    <p>
      {{#if writing.author}}
        {{writing.author}}
      {{else}}
        No author provided
      {{/if}}
    </p>
    {{#if writing.editable}}
      {{> remove-writing id=writing.id}}
      {{> update-writing id=writing.id}}
    {{else}}
      :)
    {{/if}}
  </section>

  {{/each}}
