{{#each writings as |writing|}}
  {{log Writing}}
  <section data-id="{{writing.id}}">
    <h6>Title:</h6>
    <h3>
      {{limit writing.name 20}}
    </h3>
    <p>
      {{#if writing.author}}
        {{writing.author}}
      {{else}}
        No author provided
      {{/if}}
    </p>
    <p>
      {{hello}}
    </p>
    {{>remove-writing id=writing.id}}
  </section>

  {{/each}}
